.custom-navbar {
    background-color: #ffffff;
    padding: 1rem 0.5rem;
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .custom-navbar .navbar-brand {
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .custom-navbar .nav-link {
    color: #000000;
    margin-right: 1rem;
    transition: color 0.3s ease;
  }
  
  .custom-navbar .nav-link:hover {
    color: #962411; /* Your accent color */
  }
  
  .custom-navbar .navbar-toggler {
    border-color: #000000;
  }
  
  .custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  