/* Navbar.css */
.custom-navbar{
  padding: 10px 20px; /* Adjust padding */
  z-index: 1030; /* Ensure the navbar is above other */
  position: relative;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem; /* Adjust for readability on mobile */
}
.custom-navbar .nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

/* Ensure space between items on smaller screens */
@media (max-width: 576px) {
  .custom-navbar .nav-link {
      font-size: 0.9rem;
      padding: 0.25rem 0.5rem;
  }
}